
@{
    Layout = null;
}
@using Asp.NetChatingWebsite.Models
@model IEnumerable<ChatingPage>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SentDataIntoDb</title>
</head>
<body>
    <div class="container">
        <div class="midcontainer">

            <div class="upperbox">
                <p class="UserName">@ViewBag.Namee</p>
                <p class="time">
                    @{
                        string ampm = null;
                        int miniut = 0;
                        string minu = null;
                        if (DateTime.Now.Hour >= 12)
                        {
                            ampm = "PM";
                        }
                        else
                        {
                            ampm = "AM";
                        }

                        if (DateTime.Now.Minute <= 10)
                        {
                            miniut = @DateTime.Now.Minute;
                            minu = miniut.ToString();
                            minu = "0" + minu;

                        }
                        else
                        {
                            miniut = @DateTime.Now.Minute;
                            minu = miniut.ToString();


                        }



                    }
                    @DateTime.Now.Hour:@miniut:@minu | @DateTime.Now.DayOfWeek

                </p>

            </div>
            <div class="bottombox">
                <div class="msgdiv">
                    <div class="msg">
                        <p class="Username_in_chat">@ViewBag.name :</p>
                        <p>
                            Loiendis fugit magni officia, autem perferendis. At possimus aliquam minus magni laborum
                            nostrum, voluptas reiciendis saepe? Fugiat nam in nobis officiis architecto, cumque suscipit
                            molestiae ipsam qui recusandae quia, odio quas labore laborum quasi laudantium adipisci!
                            Voluptates, incidunt optio. Reprehenderit possimus nam ducimus ratione repudiandae.
                            Perspiciatis dolores maiores doloremque modi qui, dolorem reprehenderit similique totam
                            eligendi, facilis voluptatibus ullam provident nisi ipsa adipisci dolor optio asperiores, ab
                            dolore maxime natus. Debitis non ut ratione unde reiciendis veniam impedit praesentium
                            assumenda suscipit quibusdam dolor, dolorem nemo cupiditate blanditiis!
                        </p>
                    </div>
                    <div class="time">
                        <p>@DateTime.Now.Hour:@DateTime.Now.Minute</p>
                    </div>


                </div>
                <div class="msgdiv">
                    <div class="msg">
                        <p>
                            Loiendis fugit magni officia, autem perferendis. At possimus aliquam minus magni laborum
                            nostrum, voluptas reiciendis saepe? Fugiat nam in nobis officiis architecto, cumque suscipit
                            molestiae ipsam qui recusandae quia, odio quas labore laborum quasi laudantium adipisci!
                            Voluptates, incidunt optio. Reprehenderit possimus nam ducimus ratione repudiandae.
                            Perspiciatis dolores maiores doloremque modi qui, dolorem reprehenderit similique totam
                            eligendi, facilis voluptatibus ullam provident nisi ipsa adipisci dolor optio asperiores, ab
                            dolore maxime natus. Debitis non ut ratione unde reiciendis veniam impedit praesentium
                            assumenda suscipit quibusdam dolor, dolorem nemo cupiditate blanditiis!
                        </p>
                    </div>
                    <div class="time">
                        <p>12:10 PM </p>
                    </div>


                </div>
                <div class="msgdiv">
                    <div class="msg">
                        <p>Lorem </p>
                    </div>
                    <div class="time">
                        <p>12:10 PM</p>
                    </div>


                </div>
            </div>

            <div class="lowwerbox">
                <form asp-controller="home" asp-action="SentDataIntoDb" asp-route-UserKaName="@ViewBag.Namee" method="post">
                    <div class="inputlenewaladiv">
                        <input type="text" placeholder="Type a message">
                        <button type="submit">Send</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</body>
</html>
